:root {
  --red: #dd082f;
  --dark-red: #3b020d;
  --green: #2ff901;
  --yellow: #ffcc02;
  --sky: #01fbfb;
  --orange: #ffcc02;
  --blue: #519afb;
  font-size: 16px;
}

.fullpokedex {
  display: flex;
  align-items: center;
  height: 90vh;
  overflow: hidden;
  margin: 0;
  font-family: system-ui;
}

.pokedex {
  perspective: 1000px;
  position: relative;
  overflow: hidden;
  height: 40rem;
  width: 33rem;
  margin: 0 auto;
  overflow: initial;
  box-shadow: 0 2px 12px -2px rgba(255, 0, 0, 0.4);
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.details img{
  max-width: 50%;
}

.light {
  border: 1px solid black;
  box-shadow: -2px 2px 0 rgba(255,255,255, .5);
  width: 20px;
  height: 20px;
  background: gray;
  border-radius: 50%;
}


@keyframes light {
  0% {
    background-color: white;
  }
  50% {
    background-color: var(--sky);
  }
  100% {
    background-color: white;
  }
}

.light.is-sky

.light.is-big {
  width: 50px;
  height: 50px;
}

.light.is-medium {
  width: 40px;
  height: 40px;
}
.light.is-large {
  width: 80px;
  border-radius: 20px;
}

.light.is-red {
  background-color: var(--red);
}
.light.is-blue {
  background-color: var(--blue);
}
.light.is-green {
  background-color: var(--green);
}
.light.is-sky {
  background-color: var(--sky);
}
.light.is-orange {
  background-color: var(--orange);
}

.light.is-yellow {
  background-color: var(--yellow);
}

.pokedex-left {
  background: var(--red);
  height: inherit;
  width: inherit;
  border-radius: 10px 0 0 10px;
  border: 1px solid black;
  border-right: 10px solid black;
  box-sizing: border-box;
  padding: 15px 20px;
}

.pokedex-left-top {
  display: flex;
  align-items: flex-start;
}

.pokedex-left-top > * {
  margin-right: .7em;
}

.pokedex-left-bottom-lights {
  display: flex;
  align-items: flex-start;

}

.pokedex-left-bottom {
  margin-top: 1em;
}

.pokedex-left-bottom-lights  > * {
  margin-right: .8em;
}


.pokedex-screen-container {
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  margin: 20px 0;
  height: 50%;
  padding: .8rem;
  border: 5px solid gray
}

.pokedex-screen {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.pokemon-img{
  width: 100%;
  transform: scale(1.2);
  align-self: center;
  grid-area: img;
}


.btn-back {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  margin-top: 20px;
 }
 
 .btn-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .btn-back:hover {
  color: #e8e8e8;
 }
 
 .btn-back:hover::before {
  width: 100%;
 }