.cartas {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.linkPoke {
    width: calc(50% - 1rem);
    
}

@media screen and (min-width: 767px) {
    .cartas {
        gap: 3rem;
        justify-content: center;
    }
    .linkPoke {
        width: calc(33.3% - 10rem);
    }
}

.back {
    background-color: white;
    min-height: 100vh;
    padding: 1rem 0;
}

.selector {
    display: flex;
    justify-content: center;
    gap: 5rem;
    
}

.selector-az {
    display: block;
    margin: 0.3rem auto 0 auto;
}

.letters p {
    font-weight: bold
}

.load-btn {
    display: none;
}